@font-face {
    font-family : "Light";
    src: url("fonts/AvenirLTStd-Light.otf");
}


*{
    font-family: "Light";
    color: white;
}



body {

    max-width: 100%;
    background-color: transparent;

    transition: background-color .8s;
    
  }

h1{
    font-size: 50px;
}

.footer_img{
        background-color: rgba(0,0,0,0);
    bottom: auto;
    text-align: center;
}

#img_empresa, #img_projeto, #img_produto{
    width: 141px;
    height: 141px;
}


#logo{
    width: 129px;
    height: 54px;
    padding-top: .75rem;
}

#logo_footer{
    width: 129px;
    height: 45px;
}

#video_entrada{
    position: fixed;
    width: 100%;
    z-index: -1;
}

#img-entrada{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer{
    z-index: 2;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-footer {
    padding-top: 6px;
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important;
    padding-top: 10px;

}

.carousel .carousel-item>img {
    width: 350px;
}

.img_equipe{
    width: 250px !important;
    height: 250px;
}

.table-of-contents a.active {
    font-weight: 500;
    color: white;
    padding-left: 18px;
    border-left: 2px solid white;
}

.table-of-contents a{
    color: #80959d;
    border: none;
}

.table-of-contents a:hover{
    color: white;
    border: none;
}

.carousel{
    height: 468px;
}

.carousel .carousel-item {
    margin-left: -80px;
}

.carousel img{
    transition: transform 1.5s;
}

.carousel img:hover{
    transform: scale(1.5);
}

.empresa, .projeto, .produto, .equipe, .galeria{
    background-color: rgba(0,0,0,.35) !important ;
    padding: 10px 5%;
}

.empresa, .projeto, .produto{
    display: flex;
    flex-wrap: wrap;
}

nav ul a {
    color: #80959d;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}

nav ul a:hover{
    color: white;
}

#empresa, #projeto, #produto, #equipe, #galeria{
        padding-left: 226px;
    }
    .h1_empresa{
        margin-bottom: 18px;
       }
       
       .img_empresa, .img_projeto, .img_produto{
           margin-bottom: 24px;
      }
   

  .p_projeto{
   padding-top: 58px;
}

.img_produto, .img_empresa{
    margin-left: 108px;
}

.h1_projeto{
    margin-left: 129px ;
}
.img_projeto{
    margin-left: 142px ;
}

.produto > *, .empresa > *, .projeto > * {
    flex: 1;
    flex-basis: 400px;
}

.textos {
    flex: 40 !important;
}

@media screen and (max-width : 1460px){
    video, #img-entrada{
        display: none;
    }

    body{
        background-color: #002b3b;
    }

    .carousel{
        height:400px;
    }
    .carousel .carousel-item>img {
    width: 201px;
}

@media screen and (max-width: 600px){
        #empresa, #projeto, #produto, #equipe, #galeria{
        padding-left: 20px;
        
    }
    .carousel .carousel-item {
    margin-left: 0px;
}

   
   .img_produto, .img_empresa{
    margin-left: 0px;
}


.p_produto{
    padding-top: 0px !important;
}

.p_projeto{
padding-top: 0px;
}


.produto, .empresa, .projeto {
    text-align: center !important;
}

.h1_projeto{
    margin-left: 0px;
}
.img_projeto{
    margin-left: 0px;
}




}

    
}